.body {
    padding: 0 10px;
}

.auth-container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.auth-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.auth-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
    color: #555;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border:none;
    border-bottom: 2px solid #c6c6c6;
    outline: none;
    transition: border-color 0.3s ease;
    color: black;
    border-radius: 0px;
}

.form-group input:focus {
    border-color: #000000;
    outline: none;
}

#submit {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    background: #0077B6;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

#submit:hover {
    background: #0056b3;
}

form p {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
    cursor: pointer;
}

.spinner {
    border: 3px solid #f3f3f3;
    border-top: 3px solid #3498db;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    animation: spin 0.8s linear infinite;
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }