.staff-navbar {
    display: flex;
    gap: 1rem;
    background: #fff;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
}

.tab-button {
    padding: 10px 20px;
    background: transparent;
    border: none;

    cursor: pointer;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s;
}

.tab-button.active {
    border-bottom: 2px solid #007bff;
    color: #007bff;
    border-radius: 0;
}
.tab-button:focus {
  outline: none;
}


.tab-content {
    padding: 20px;
    background: #fff;
    min-height: 300px;
}

